<h3>Open API</h3>
{{#each testmodel in model.testmodels}}
  <li>{{testmodel.name}}</li>
{{/each}}

<h3>Restricted API</h3>

{{#each testrestrictedmodel in model.testrestrictedmodels}}
  <li>{{testrestrictedmodel.name}}</li>
{{/each}}